@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 273 21% 90%;
    --foreground: 273 25% 15%;
    --card: 273 21% 96%;
    --card-foreground: 273 25% 15%;
    --popover: 273 21% 96%;
    --popover-foreground: 273 25% 15%;
    --primary: 273 40% 46%;
    --primary-foreground: 273 21% 98%;
    --secondary: 273 21% 85%;
    --secondary-foreground: 273 25% 15%;
    --muted: 273 21% 85%;
    --muted-foreground: 273 21% 45%;
    --accent: 147 44% 45%;
    --accent-foreground: 147 21% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 273 21% 80%;
    --input: 273 21% 88%;
    --ring: 273 40% 46%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 273 15% 10%;
    --foreground: 273 10% 90%;
    --card: 273 15% 12%;
    --card-foreground: 273 10% 90%;
    --popover: 273 15% 12%;
    --popover-foreground: 273 10% 90%;
    --primary: 273 40% 56%;
    --primary-foreground: 273 10% 98%;
    --secondary: 273 15% 20%;
    --secondary-foreground: 273 10% 90%;
    --muted: 273 15% 20%;
    --muted-foreground: 273 10% 60%;
    --accent: 147 44% 55%;
    --accent-foreground: 147 10% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 273 15% 20%;
    --input: 273 15% 22%;
    --ring: 273 40% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
